extends layout

block content
  h4 Ingredientes para #{gramosPedido} gramos de masa #{masaPedida}
  table
        thead
            tr
            th 
        tbody
            th Ingredientes
            each nom in nombreIngredientes
              tr
                td= nom
            ul  
              each val in valoresIngredientes
                li= val