extends layout

block content
  h4 Ingredientes para #{gramosPedido} gramos de masa #{masaPedida}
  table
        thead
            tr
            th 
        tbody
            th Ingrediente
            th Peso
        each key, val in respuesta
            tr
            td= key
            td= val