extends layout

block content
  br
  label(for='cantidad') Cantidad de bollo:
  input#fname(type='text' name='cantidad')
  br
  input(type="submit" value="Sumar")
  input(type="submit" value="Calcular")